@{
    ViewData["Title"] = "Add Doctor";
}

<h2 class="text-center mb-4">Add New Doctor</h2>

<form  method="post" enctype="multipart/form-data" class="container" style="max-width: 500px;">
    
    <div class="mb-3">
        <label for="Name" class="form-label">Doctor Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>

    <div class="mb-3">
        <label for="Specialization" class="form-label">Specialization</label>
        <input type="text" class="form-control" id="Specialization" name="Specialization" required />
    </div>

    <div class="mb-3">
        <label for="Img" class="form-label">Doctor Image (e.g., doctor1.jpg)</label>
        <input type="file" class="form-control" id="Img" name="Img" required 
        onchange="previewImage(event)"/>
        <img id="imgPreview" src="#" alt="image preview" class="img-thumbnail mt-2" style="display: none; max-height:200px;" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Add Doctor</button>
</form>
<script>
    function previewImage(event){
        const input = event.target;
        const preview = document.getElementById('imgPreview');
        if(input.files && input.files[0]){
            const reader = new FileReader();

            reader.onload= function (e){
                preview.src =e.target.result;
                preview.style.display='block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
