@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar " src="assets/img/download.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Welome to our Hospital</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Thank you for choosing our hosptal for your healthcare needs.</p>
        <p class="masthead-subheading font-weight-light mb-0">Here,we strive to provide the highest quality medical care to our patients.</p>
        <p class="masthead-subheading font-weight-light mb-0">Learn more about our services and specialists:</p><br />
        <ul class="list-group">
            <li class="list-group-item">Internal Medicine</li>
            <li class="list-group-item">Pediatrics</li>
            <li class="list-group-item">Surgery</li>
        </ul>
        @* <div class="grid text-center" style="--bs-columns: 3;">
            <div>Internal Medicine</div>
            <div>Pediatrics</div>
            <div>Surgery</div>
        </div> *@
        <p class="masthead-subheading font-weight-light mb-0">If you have any questions or need assistance , please don't hesitate to contact us.'</p>
    </div>
</header>